{% extends 'expenses/base.html' %}
{% load static %}
{% block content %}
<h2>Budgets</h2>
<a class="btn btn-primary mb-2" href="{% url 'set_budget' %}">Set New Budget</a>

<table class="table table-bordered col-md-6">
    <tr>
        <th>Category</th>
        <th>Amount</th>
        <th>Actions</th>
    </tr>
    {% for budget in budgets %}
    <tr>
        <td>{{ budget.category.name }}</td>
        <td>{{ budget.amount }}</td>
        <td>
            <a href="{% url 'update_budget' budget.id %}">Update</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
